/* Estilo del pie de p치gina */
.footer { 
    background-color: #ffcc80; /* Color de fondo del pie de p치gina */
    text-align: center; /* Centrar texto */
    padding: 10px; /* Relleno interno */
    clear: both; /* Limpiar flotaci칩n */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra del pie de p치gina */
  }

  